@model FirstApp.Models.ViewModels.ForgotPasswordVM
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_BaseLayout";
}

@section Style {
    <style>
        .centered {
            height: 100vh;
        }

        .login-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

            .login-logo > img {
                width: 300px;
            }
    </style>
}

@section Title {
    <title>Biller.ng - Forgot Password </title>
}

<section class="section centered">
    <div class="container">

        <div class="columns centered is-align-content-center is-justify-content-center">
            <div class="column"></div>
            <div class="column is-two-fifths">

                <h1 class="title">Forgot Password</h1>
                <div asp-validation-summary="ModelOnly" class="notification is-danger">
                    
                </div>
                <div class="card">
                    <div class="card-content">

                        <form role="form" asp-action="ForgotPassword" asp-controller="Account">
               

                            <div class="field">

                                <label class="label" asp-for="Email"></label>
                                <div class="control has-icons-left has-icons-right">
                                    <input asp-for="Email" class="input" type="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="Email" class="help is-danger"></span>
                            </div>
                           
                            <div class="field">
                                <p class="control">
                                    <button class="button is-primary">
                                        Submit
                                    </button>
                                </p>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>


    </div>
</section>





