@model FirstApp.Models.ViewModels.ResetPasswordVM
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_BaseLayout";
}

@section Style {
    <style>
        .centered {
            height: 100vh;
        }

        .login-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

            .login-logo > img {
                width: 300px;
            }
    </style>
}

@section Title {
    <title>Biller.ng - Forgot Password </title>
}

<section class="section centered">
    <div class="container">

        <div class="columns centered is-align-content-center is-justify-content-center">
            <div class="column"></div>
            <div class="column is-two-fifths">

                
                <div class="login-logo">
                    <img src="/img/logo.png" alt="biller.ng logo" />
                </div>
                <div asp-validation-summary="ModelOnly" class="notification is-danger">

                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="title is-5">Reset Password</h1>
                        <form role="form" asp-action="ResetPassword" asp-controller="Account">

                            <input asp-for="Token" type="hidden">
                            <input asp-for="Email" type="hidden">

                            <div class="field">
                                <label class="label" asp-for="NewPassword"></label>
                                <div class="control has-icons-left">
                                    <input asp-for="NewPassword" class="input" type="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="NewPassword" class="help is-danger"></span>
                            </div>

                            <div class="field">
                                <label class="label" asp-for="ConfirmPassword"></label>
                                <div class="control has-icons-left">
                                    <input asp-for="ConfirmPassword" class="input" type="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <button class="button is-primary">
                                        Submit
                                    </button>
                                </p>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>


    </div>
</section>





