@model FirstApp.Models.ViewModels.PaymentRequest
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Dashboard";
}

@section Title {
    <title>Biller.ng - Payment </title>
}



<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Payment</a></li>
    </ul>
</nav>

<div class="level mt-2 mr-2 content-title">
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-primary">
               

                <span>Payment</span>
            </div>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            @*<button type="button" class="button is-small">March 8, 2017 - April 6, 2017</button>*@
        </div>
    </div>
</div>




        @*<a class="button is-link">
                <span class="icon is-small"> <i class="fa fa-plus"></i> </span><span>Add New </span>
            </a>*@


        <div class="content">
            

                    <div class="columns">
                        <div class="column">

                        </div>
                        <div class="column is-three-fifths">
                            <div class="card">
                                <div class="card-content">
                                    <form role="form" asp-controller="Payment" asp-action="otprepayment" method="post">
                                        <div class="field">
                                            <label asp-for="CustomerId" class="label">Meter Number</label>
                                            <div class="control">
                                                <input asp-for="CustomerId" class="input" placeholder="Meter Number">
                                            </div>
                                            <p asp-validation-for="CustomerId" class="help is-success"></p>
                                        </div>

                                        <div class="field is-horizontal">

                                            <div class="field-body">
                                                <div class="field">
                                                    <label class="label">Location</label>
                                                    <div class="control">
                                                        <div class="select is-fullwidth">
                                                            <select asp-for="Service">
                                                                <option>Select location</option>
                                                                <option value="kedco">Kano</option>
                                                                <option value="kedco">Jigawa</option>
                                                                <option value="kedco">Katsina</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Account Type</label>
                                                    <div class="control">
                                                        <div class="select is-fullwidth">
                                                            <select asp-for="PaymentPlan">
                                                                <option>Select Account Type</option>
                                                                <option value="prepaid">Prepaid</option>
                                                                <option value="postpaid">Postpaid</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label asp-for="PhoneNumber" class="label">Phone Number</label>
                                            <div class="control">
                                                <input asp-for="PhoneNumber" class="input" type="text" placeholder="Phone Number">
                                            </div>
                                            <p asp-validation-for="PhoneNumber" class="help is-success"></p>
                                        </div>

                                        <div class="field">
                                            <label asp-for="Amount" class="label">Amount</label>
                                            <div class="control">
                                                <input asp-for="Amount" class="input" type="text" placeholder="Amount">
                                            </div>
                                            <p asp-validation-for="Amount" class="help is-success"></p>
                                        </div>

                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button class="button is-primary">Continue</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        <div class="column">

                        </div>

                    </div>
        </div>






