@model FirstApp.Models.ViewModels.CreateServiceVM
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Dashboard";
}

@section Title {
<title>Biller.ng - Service </title>
}



<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Service</a></li>
    </ul>
</nav>

<div class="level mt-2 mr-2 content-title">
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-primary">


                <span>Change Password</span>
            </div>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            @*<button type="button" class="button is-small">March 8, 2017 - April 6, 2017</button>*@
        </div>
    </div>
</div>




        @*<a class="button is-link">
    <span class="icon is-small"> <i class="fa fa-plus"></i> </span><span>Add New </span>
</a>*@


<div class="content">


    <div class="columns">
        <div class="column">

        </div>
        <div class="column is-three-fifths">
            <div class="card">
                <div class="card-content">
                    <form role="form" asp-controller="Service" asp-action="Create" method="post">

                        <div asp-validation-summary="ModelOnly" class="notification is-danger"></div>

                        <div class="field">
                            <label asp-for="Name" class="label"></label>
                            <div class="control">
                                <input asp-for="Name" class="input" placeholder="Service Plan">
                            </div>
                            <span asp-validation-for="Name" class="help is-danger"></span>
                        </div>

                        <div class="field">
                            <label asp-for="Key" class="label"></label>
                            <div class="control">
                                <input asp-for="Key" class="input"  placeholder="Service Identifier">
                            </div>
                            <span asp-validation-for="Key" class="help is-danger"></span>
                        </div>

                        <div class="field">
                            <label asp-for="ServiceType" class="label"></label>
                            <div class="control">
                                <input asp-for="ServiceType" class="input"  placeholder="Service Type">
                            </div>
                            <span asp-validation-for="ServiceType" class="help is-danger"></span>
                        </div>

                        <div class="field is-grouped is-pulled-right">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column">

        </div>

    </div>
</div>